name: Link Issues to PR Post Merge

on:
  pull_request:
    types: [closed]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  link-issues:
    # Only run if PR was actually merged (not just closed)
    if: github.event.pull_request.merged == true
    permissions:
      pull-requests: write
      contents: read
    uses: senzing-factory/build-resources/.github/workflows/link-issues-to-pull-request-post-merge.yaml@v3
