name: Lint workflows

on:
  pull_request:
    branches: [main]

concurrency:
  group: rule_check-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint-workflows:
    permissions:
      contents: read
      packages: read
      pull-requests: read
      statuses: write
    uses: senzing-factory/build-resources/.github/workflows/lint-workflows.yaml@v3
